---
Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  performance-*
WarningsAsErrors: '*'
HeaderFilterRegex: '[/\\](agent|apps|include|src|tests)[/\\]'
FormatStyle: file
...
